.gradio/*
.idea/*

# For skills eval benchmark directories, we will include only two benchmark files and ignore rest.
**/.github/skills/*/benchmark/*
!**/.github/skills/*/benchmark/benchmark.md
!**/.github/skills/*/benchmark/benchmark.json
