scikit-learn-intelex==2026.1.0
scikit-learn-intelex-gpu==2026.1.0
scikit-learn==1.9.1
asyncua==2.0.1
fastapi==0.141.1
uvicorn==0.53.0
influxdb==5.3.2
tomlkit==0.15.1
protobuf==7.36.1
dpctl==0.22.1
python-multipart==0.0.32
setuptools==84.0.0
packaging==26.3
